#page-content{
    margin: 20px
}
#headshot {
  width: 100%;
  height: auto;
  margin-bottom: 40px; /* Whitespace needed for mobile */
}

#linkedin{
    width: 40px;
}
#github{
    width: 40px;
}
#gmail{
    width: 40px;
}